body{
  background: #A3C4BC;
  color: #050505;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #B6174B;
  font-size: 50px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
}
a {
  color: #C6D8D3;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner {
background-image: url(https://images.unsplash.com/photo-1443694910004-3567042689f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
background-size: cover;
padding: 150px;
text-align: center;
color: white;
}

#banner h1 {
color: white;
font-size: 50px;
text-shadow: 0.3px 0.3px 0.3px grey;
}

#banner p {
font-size: 30px;
font-weight: lighter;
}

.section {
  padding: 50px;
  text-align: center;
  font-weight: lighter;
}

#footer {
  background: #011627;
  color: lightgrey;
  font-size: 20px;
  padding: 50px;
}

.fab {
  color: white;
  font-size: 35px
}

.fab:hover {
  color: #F1C192;
}











